body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: var(bg-gray-100);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
input {
  padding: 0.5rem 0.7rem !important;
}
input,
input:focus {
  border: none;
  outline: none;
  box-shadow: none;

  color: var(--color-dark);
}

a,
button,
input[type="submit"] {
  cursor: pointer;
  background: #9599e2;
  padding: 5px 8px;
  transition: all 0.2s ease;
}

input::placeholder {
  font-size: 15px;
  color: var(--color-gray);
}
