:root {
  --color-dark: rgba(0 0 0 /0.6);
  --color-gray: rgb(189, 189, 189);
  --color-white: #fff;
  --btn-bg: #9599e2;
  --btn-bg--hover: #8bc6ec;

  --form-bg: rgba(254 226 226 / 0.7);

  --border-raduis-sm: 4px;
  --border-raduis-md: 6px;
  --border-raduis-full: 50%;
}
